
body{
  margin: 50px;
  background-color: white;
}

.site-name-area{
  position: relative;
  width: 100%;
  background-color: #dddddd;
  height:100px;
  text-align: center;
  bor
}

.site-name{
position: relative;
display: block;

height:90px;
width: 50%;
text-align:left;
float: left;
}

.site-name2{
  text-align: center;
  top: -20px;
}

.search-bar{

  display: block;
  right: -60%;
  height:90px;
  width: 50%;
  text-align:center;
  top: 300px;
  float: left;
  background-color: #dddddd;
}
#search{
  bottem: 1530px;
  height: 50px;
  background-color: white;
}
#submit{
  height: 50px;
}

.top-menu{
position: relative;
width: 100%;
height: 60px;
background-color: #dddddd;
}
